/****************************************** global classes ******************************************/

.clear-both {
    clear: both;
}

/****************************************** html and body ******************************************/

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    overflow-x: hidden;
}

/****************************************** header ******************************************/

header {    
    background-color: #424242;
}

header .layout {
    background: url('header_highcontrast.png') no-repeat center;
    background-size: 100% 100%;
    min-height: 110px;
    max-height: 110px;
    min-width: 1920px;
    max-width: 1920px;
    margin: auto;
}

header .layout .title {
    padding: 20px;
    color: #e3e3e3;    
    font-size: 20px;
}

/****************************************** nav ******************************************/

nav {
	width:100%;
	font-family: sans-serif;
    background-color: #2c2c2c;
}

nav .desktop .layout {
    width:720px; 
    margin: auto;
}

nav .desktop li {
	display:block;
	width:240px;
    height:40px;
	float:left;
    text-align:center;
}

nav .desktop a {
	display:block;
	text-decoration:none;
	background-color:#0066cc;
	color:#e3e3e3;
    font-size: 18px;
    height:100%;
    line-height:32px;
    border:1px solid #2c2c2c;
    border-bottom: 0px;
    border-top: 0px;
    border-style: none solid none solid;
    padding-top: 5px;
    height: 35px;
    box-sizing: unset !important;
}

nav .desktop a:hover {
	background-color:#2424b5;
	color:#e3e3e3;
}

nav .desktop .selected {
    background-color:#d80073 !important;
	color:#e3e3e3;
    position:relative;
}

nav .desktop .selected:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 20px #d80073;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.1em solid #fff;
    border-bottom: 0.1em solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.1em solid #fff;
}

nav .mobile {
    color: #e3e3e3;
    width: 100%;
    background-color: #2c2c2c;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
}

nav .mobile .menu {
    padding: 0px !important;
    box-sizing: unset !important;
    padding: 10px 0px !important;
    cursor: pointer;
}

nav .mobile .menu-container {
    padding-bottom: 12px;
}

nav .mobile ul {
    width: 100%;
}

nav .mobile a {
    width: 100%;
    display:block;
	text-decoration:none;
    color:#e3e3e3;
    background-color:#0066cc;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    box-sizing: unset !important;
}

nav .mobile a:hover {
	background-color:#2424b5;
}

nav .mobile .selected {
    background-color:#d80073 !important;
}

/****************************************** main - all ******************************************/

.layout {
    flex: 1 0 auto;
}

/****************************************** main - other me ******************************************/

.otherme {
    width:auto;
    height:140px;
    padding:10px 0px;
}

.otherme .content {
    text-align: center;
    background-color: #0066cc;
    height: 100%;
}

.otherme .content:hover {
    background-color: #2424b5 !important;
}

.otherme .content .logo {
    margin-top: 10px;
}

/****************************************** main - projects ******************************************/

.project {
    padding-bottom: 20px;
    padding-top: 10px;
}

.project .project-row {
    height: 100%;
}

.project .project-row .description {
    color:#2c2c2c;
    background-color: #c5c6c7;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.project .project-row .description .title {
    font-weight: bold; 
    font-size: 18px; 
    padding-top: 20px;     
}

.project .project-row .description .status-label {
    padding-top: 10px; 
    font-size: 16px;
}

.project .project-row .description .progress-bar-row {
    padding-top: 10px;
}

.project .project-row .description .progress-bar-row .progress-bar {
    width: 100%;
    font-size: 16px;
    background-color: transparent !important;
}

.project .project-row .description .description-container {
    padding-top: 10px;
}

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
}

progress[value^="0"]::-webkit-progress-value,
progress[value^="1"]::-webkit-progress-value,
progress[value^="2"]::-webkit-progress-value{
   background-color: #d80073;
   border-radius: 7px;
} 

progress::-webkit-progress-value{
    background-color: #d80073;
    border-radius: 7px;
} 

progress[value^="0"]::-moz-progress-value,
progress[value^="1"]::-moz-progress-value,
progress[value^="2"]::-moz-progress-value{
   background-color: #d80073;
   border-radius: 7px;
} 

progress::-moz-progress-value{
    background-color: #d80073;
    border-radius: 7px;
}

progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 7px;
}

progress::-moz-progress-bar {
    background-color: #fff;
    border-radius: 7px;
}

/****************************************** footer ******************************************/

footer {
    background-color: #424242;
    padding: 20px;
    flex-shrink: 0;
    color: #fff;
}

footer .footer-container {
    padding-bottom: 30px;
}

footer .footer-container .version {
    text-align: right;
}