<!DOCTYPE html>
<html lang="en">
    {{ head }}
    <body>
        {{ header }}

        {{ nav }}

        <div class="container mt-4 mb-4 layout">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Welcome to my personal website. I intend to use this space as a sort of portfolio providing a central place I can use to link up all the various content and projects I have across the internet.
                    </p>
                    <p>
                        A little bit of background on me: I've been writing code for the past 20-something years. Starting with BASIC on an Amiga way back. Since then I've used a whole host of different languages including: C++, C#, SQL, python, HTML, javascript, R and Matlab. I've learnt a few things along the way too and got a Masters degree and PhD to show for it.
                    </p>
                    <p>
                        Currently I'm working as a Data Scientist and doing things data related.
                    </p>
                    <p>
                        I'm interested in building web apps, software engineering practices and processes, anything data related and learning about new things in these spaces.
                    </p>
                </div>
                <div class="col-md-4">
                    <img width="100%" src="me.png">
                </div>
            </div>
        </div>

        {{ footer }}

    </body>
</html>