<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#menu").click(function(){
                    if($('#menu-container').is(':visible')){ 
                        $("#menu-container").slideUp("slow", function() {
                            // Animation complete.
                        });
                    }
                    else {
                        $("#menu-container").slideDown("slow", function() {
                            // Animation complete.
                        });
                    } 
                });
              });
        </script>
    </head>
    <body>
        <header>
            <div class="layout">
                <div class="title">
                    // TOM WARSOP
                </div>
            </div>
        </header>

        <nav class="d-none d-md-block">
            <div class="desktop">
                <div class="layout">
                    <li><a href="index.html">hello</a></li>
                    <li><a href="otherme.html">other me</a></li>
                    <li><a href="projects.html" class="selected">projects</a></li>
                </div>
            </div>
        </nav>

        <nav class="d-md-none navbar">
            <div class="container">
                <div class="row mobile">
                    <div id="menu" class="menu"><span class="hamburger"></span>menu</div>
                    <ul id="menu-container" class="navbar-nav menu-container" style="display:none">
                        <li class="col"><a href="index.html">hello</a></li>
                        <li class="col"><a href="otherme.html">other me</a></li>
                        <li class="col"><a href="projects.html" class="selected">projects</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="clear-both"></div>

        <div class="container mt-4 mb-4 layout">

            <div class="row">

                <div class="col-md-6 project">
                    <div class="row project-row">
                        <div class="col-xl-8">
                            <div class="description">
                                <div class="title">Raffles Barbers Website</div>
                                <div class="status-label">Status: Completed and Deployed</div>
                                <div class="row progress-bar-row">
                                    <div class="col-10">
                                        <progress class="progress-bar" max="100" value="100" data-label="100%"></progress>
                                    </div>
                                    <div class="col-2">
                                        <div class="progress-bar-value-container">
                                            100%
                                        </div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="description-container">
                                    <p><a href="http://rafflesbarbers.co.uk/" target="_blank">http://rafflesbarbers.co.uk/</a></p>
                                    <p>Created a simple desktop and mobile friendly website for a local barbers. Providing information about services offered.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <img src="projects-raffles-barbers.png" width="100%">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 project">
                    <div class="row project-row">
                        <div class="col-xl-8">
                            <div class="description">
                                <div class="title">Football Calendar</div>
                                <div class="status-label">Status: In Planning</div>
                                <div class="row progress-bar-row">
                                    <div class="col-10">
                                        <progress class="progress-bar" max="100" value="5"></progress>
                                    </div>
                                    <div class="col-2">
                                        <div class="progress-bar-value-container">
                                            5%
                                        </div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="description-container">
                                    <p>Building a web app calendar that shows the results of previous football matches and scheduled future matches. For different leagues, all in one place.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <img src="calendar.png" width="100%">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 project">
                    <div class="row project-row">
                        <div class="col-xl-8">
                            <div class="description">
                                <div class="title">tomwarsop.com</div>
                                <div class="status-label">Status: Deployed, Ongoing Work</div>
                                <div class="row progress-bar-row">
                                    <div class="col-10">
                                        <progress class="progress-bar" max="100" value="80"></progress>
                                    </div>
                                    <div class="col-2">
                                        <div class="progress-bar-value-container">
                                            80%
                                        </div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="description-container">
                                    <p>This website! Built my own portfolio/about me website. All hosted in AWS. Got an initial version deployed, will update/add more content later.</p>
                                    <p>See previous versions of this site <a href="previous-versions.html">here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <img src="projects-this-website.png" width="100%">
                        </div>
                    </div>
                </div>

            </div>
        
        </div>

        {{ footer }}
        
    </body>
</html>